@{
    ViewData["Title"] = "About";
}
@*<h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>
    <p>Use this area to provide additional information.</p>*@
<h2>Meet the Designers</h2>
<div class="max-width">
    <h4 class="id">Austin Cohrs</h4>
    <div class="photo1"><img src="~/images/austin_photo.jpg" /></div>
    <div class="max-width">
        <p><strong>Where are you from?</strong>&nbspI was born in Kansas. I spent 8 years in Honolulu before moving to Seattle in May 2017.</p>
        <p><strong>What do you enjoy doing?</strong>&nbspI like to create things. Programming, technology, solving problems, and building things are a few of my hobbies. I also enjoy spear-fishing.</p>
        <p><strong>What do you like about C#?</strong>&nbspThat it's predictable and that it follows rules.</p>
    </div>
</div>
<hr />

<div class="max-width">
    <h4 class="id">Brian McFarlane</h4>
    <div class="photo2"><img src="~/images/brian_photo.png" /></div>
    <div class="max-width">
        <p><strong>Where are you from?</strong>&nbspI'm from San Diego, CA.</p>
        <p><strong>What do you enjoy doing?</strong>&nbspI enjoy helping people, scuba diving, and consuming foods from around the world.</p>
        <p><strong>What do you like about C#?</strong>&nbspThe thing I like best about working with C# in Visual Studio is how the IDE is almost like a second pair of eyes, sometimes guiding you to a working solution.</p>
    </div>
</div>
<hr />
<div class="max-width">
    <h4 class="id">Duane Rush</h4>
    <div class="photo3"><img src="~/images/duane_photo.jpg" /></div>
    <div class="max-width">
        <p><strong>Where are you from?</strong>&nbspBorn in Tacoma and raised in Palm Springs, CA.</p>
        <p><strong>What do you enjoy doing?</strong>&nbspLike most guys, I enjoy playing video games. My favorite video game of all time is WoW.</p>
        <p><strong>What do you like about C#?</strong>&nbspI have found C# fairly easy to learn due to the fact that it's a strongly typed language.</p>
    </div>
</div>
<hr />
<div class="max-width">
    <h4 class="id">Miya Lucas</h4>
    <div class="photo4"><img src="~/images/tulip_festival.jpg" /></div>
    <div class="max-width">
        <p><strong>Where are you from?</strong>&nbspFrom Florida but I've been in Seattle for about 3 years.</p>
        <p><strong>What do you enjoy doing?</strong>&nbspI enjoy workout classes and food festivals. I'll be starting a new kickboxing gym this weekend!</p>
        <p><strong>What do you like about C#?</strong>&nbspI love the structure of C#. I find the lack of ambiguity comforting.</p>
    </div>
</div>
