@{

    ViewData["Title"] = "Home Page";
    
}
 

<link rel="stylesheet" href="~/css/site.css" type="text/css" />

<div class="row">
    <div class="col-md-4">
        <form asp-controller="Books" asp-action="Genre">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label  class="control-label">Search by Genre</label>
                <input name="genre" class="form-control" />
                <span  class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>



