@model AlrightBooks.Models.MenuEnum
@{

    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />

@* Form for accepting book queries by genre *@
<body id="homeBody">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div id="myCarouselImg" class="carousel-inner" role="listbox">
            @*<img style="opacity:0.7;" src="~/images/BookWall.jpg" alt="ASP.NET" class="img-responsive" />*@
        </div>
    </div>
    <div id="main-form" class="col-sm-4 col-sm-offset-4">
        <form asp-controller="Books" asp-action="Genre">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Search by Genre</label>
                @* The C# code on this line retrieves and binds our enum to a drop-down menu *@
                <select name="genre" class="form-control" asp-items="@Html.GetEnumSelectList(typeof(MenuEnum.BookCat))"></select>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </form>

    
        <form asp-controller="Books" asp-action="TitleSearch">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Search by Title</label>
                @* The C# code on this line retrieves and binds our enum to a drop-down menu *@
                <Input name="BookTitle" class="form-control"></>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </form>
    
    </div>
</body>

    

