body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #D7CEC7;
}

h2 {
    color: #76323f;
}

h3 {
    color: #76323f;
}

label {
    font-size: 2em;
    color: #76323f;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

