body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #D7CEC7;
}


h2 {
    color: #76323f;
}

h3 {
    color: #76323f;
}

label {
    font-size: 2em;
    color: #76323f;
}


#homeBody{
    background-image: url(../images/BookWall.jpg);
    opacity: 0.9;
}

#main-form {
    border-radius: 5px;
    margin-top: 17%;
    /*margin-bottom: 50%;*/
    opacity: 0.99;
    background-color: #D7CEC7;
}
.photo1 img {
    max-height: 200px;
    max-width: 200px;
    float: right;
    margin-left: 10em;
}

.max-width {
    max-width: 90%;
    margin-top: 2em;
    padding-bottom: 5em;
}

.photo2 img {
    max-height: 200px;
    max-width: 200px;
    float: right;
}

.photo3 img {
    max-height: 200px;
    max-width: 200px;
    float: right;
}

.photo4 img {
    max-height: 200px;
    max-width: 200px;
    float: right;
}

.id {
    text-decoration: underline;
}
/*hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}*/

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

